.menu {
  background-image: url(../img/bg/menu-bg.jpg);
  background-size: cover;
  position: relative;
}

.menu__list {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  @include medium {
    width: 100%;
  }
}

.menu__item {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.menu__item_active {
  @include small {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  .menu__name {
    color: $yellow;
  }
  .menu__desc {
    width: 35vw;

    @include medium {
      width: 69vw;
    }

    @include small {
      width: 88vw;
    }
  }
  .menu__text {
    opacity: 1;
    transition-delay: 0.6s;
  }

  .close {
    @include small {
      opacity: 1;
      transition-delay: 0.6s;
      visibility: visible;
    }
  }
}

.menu__link {
  width: 80px;
  height: 100%;
  position: relative;
  background-size: cover;

  @include extra-small {
    width: 60px;
  }
}

.menu__name {
  font-family: "Gagalin";
  color: #fff;
  font-size: 40px;
  line-height: 64px;
  white-space: nowrap;
  position: absolute;
  top: 95%;
  left: 50%;
  transform-origin: 0% 0%;
  transform: rotate(-90deg) translateY(-50%);
  transition: color 0.5s linear;
}

.menu__desc {
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
  position: relative;
  background-color: rgba(31, 33, 34, 0.9);
}

.menu__text {
  color: #fff;
  padding: 60px 35px 0 35px;
  opacity: 0;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 8px;
    width: 4px;
    height: 100%;
    background-color: #c1c2c2;
    border-radius: 3px;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
}
